ion-row{
        ion-col{
            padding-left: 100 !important;
            padding-right:100 !important; 
        }
        button{
            width:100%;
            margin-left:0 !important;
            margin-right:0 !important;
            }
}          
